.container {
  margin: auto;
  width: 100%;
  height: 100px;
  text-align: center;

}
.startPage h1{
    font-size: x-large;
    color: blue;
}

.startPage ul li {
   margin: auto;
   margin-top: 10px;
  width: 40%;
  height: 30%;
  text-align: center;
}

#take {
    font-weight: bolder;
    color: red;
}

.ready {
  margin-bottom: 20px;



.welcome {
  margin-bottom: 20px;
}

#main {
  margin-bottom: 20px;
  font-size: 100px;
  width: 100%;
  height: 25px;
}

#read {
  margin: auto;
  padding: 10px;
  width: 100%;
  height: 25px;
}

#questions{
  position: flex;
  justify-content: end;
  border:#243fd4 3px solid;
  padding:10px 40px 40px 40px;
  background-color:#9fa19f;
  width:50%;

}
