:root {
  --background-color: #9fa19f;
  --btn-color: rgb(2, 2, 167);
  --border-color: black;
  --text: aliceblue;
  --correct: green;
  --wrong: red;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  background-color: var(--background-color);
}

.quizContainer {
  width: 700px;
  background-color: wheat;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px 5px;
  
}

#start-btn {
  background-color: var(--btn-color);
  font-size: 1.5;
  padding: 15px;
  color: var(--text)
}
  #start-btn:hover {
 background-color : rgba(233, 14, 233, 0.925);
}

.btn-layout {
  display: grid;
  grid-template-columns:repeat(2, auto);
  margin: 5px;
}


.btn:hover {
 background-color : rgba(233, 14, 233, 0.925);
}

.btn {
  color: var(--text);
  background-color: var(--btn-color);
  border-radius: 15%;
  border: var(--border-color) solid, 2px;
  margin: 10px;
  width: 60%;
  height: 30px;
 display: flex;
 justify-content: center;
}

.hide{
  display: none;
}


#next-btn{
  display: center;
}

.btn.correct{
 background-color: var(--correct);
}

.btn.wrong{
  background-color: var(--wrong);
}

.timer-Container {
  margin: auto;
  width: 100%;
  height: 100px;
  text-align: center;
}

.startPage {
  text-align: center;

}
.startPage h1 {
  font-size: x-large;
  color: blue;
}

.startPage ul li {
  margin: auto;
  margin-top: 10px;
  width: 40%;
  height: 30%;
  text-align: center;
}

#take {
  font-weight: bolder;
  color: red;
}

.ready {
  margin-bottom: 20px;
}

#main {
  margin-bottom: 20px;
  font-size: 100px;
  width: 100%;
  height: 25px;
}

#read {
  margin: auto;
  padding: 10px;
  width: 100%;
  height: 25px;
}

#quiz {
  justify-content: end;
  border: #243fd4 3px solid;
  padding: 10px 40px 40px 40px;
  background-color: #9fa19f;
  width: 50%;
}
